:root {
  --brand-color: #212121;
  --background-buton-color:#2196F3;
  --grey-color: #757575;
  --background-color: #2F303A;
  --white-color: #ffffff; 
  --color-text-footer: rgba(255, 255, 255, 0.6);
  --color-baton: #f5f4fa;
          
  --color-border: #eeeeee; 
}
/*------------сброс маржинов и падингов--- */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul {margin: 0;
padding: 0;}
.body-style{
    font-family: 'Roboto','Raleway', sans-serif;
    font-weight: 400;
    color:var(--brand-color);
}
.backgraund-black{
    background: var(--background-color);
}

a{text-decoration: none;}
/* ссылки без подчёркивания */
/* ----------link-head------------------------------------- */
.link{font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--brand-color);

}
.link:hover, 
.link:focus{
    color:var(--background-buton-color);
}
/* Logo----------------------------------------- */

.logo-head{font-family: 'Raleway', sans-serif;

font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--brand-color);
}
.logo-foot{font-family: 'Raleway', sans-serif;
  font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--white-color);
}

.logoo{
    font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--background-buton-color);}

/* contact-------------------------------------- */
.contact-head{font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-color);}
.contact-head:hover, .contact-head:focus{
    color: var(--background-buton-color);

}
.contact-foot{
    font-style: normal;
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
    color:var(--color-text-footer);}
.adres{
    font-style: normal;
    color: var(--white-color);
        font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
    
}


.site-curent{color: var(--background-buton-color);}
/* tekuschaya stranica */
li{list-style: none;}
/* скритие точек */

/* -----------buton--portfolio------------------ */
.buton-sort{
    display: flex;   
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--brand-color);
background-color: var(--color-baton);
border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;;
        border: transparent;
        height: 38px;
        margin-left: 4px;
        margin-right: 4px;

}
.buton-height{
    height: 38px;
}
.buton-sort:hover, .buton-sort:focus{
color:var(--white-color);
background: var(--background-buton-color)
}
/* ------section--foto-porfolio----- */
.name-sort{font-weight: 700;
  font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--brand-color);
}
.id-sort{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey-color);}
    /* ------Index--- zakaz-uslugi- */
    .buton-order{   
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color:var(--white-color);
background: var(--background-buton-color);
}
.buton-order:hover, .buton-order:focus{
color:var(--white-color);
background: var(--background-buton-color)
}
/* ----------index----------h1-------- */
.index-head{
 font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--white-color);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.index-head-background{
   background-color: var(--background-color);
}
/* ------качества */
.index-quality{
   font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase; 
color: var(--brand-color);
}
/*  class="index-quality-specific" */
.index-quality-specific{
    font-family: Roboto;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--grey-color);
}
/* ------------idex-img-make */
.img-attribut{
    font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1,16;
text-align: center;
letter-spacing: 0.03em;
}
/* ------index-profesion */
.name{font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.name-profession{font-family: Roboto;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--grey-color);}
/* спрятать заголовок */
.portfolio-none{
    display: none;
}
/* ----container ----------------*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;}
/* ------------Позиционирование--Портфолио----------*/
/* .container-head{
     display: flex;
    margin: 0 auto;
     width: 1200px;
} */
.container-head-nav{display:flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
}
.container-head-logo{display: flex;
width: 145px;

margin-top: 24px;
      margin-bottom: 25px;}
/* .container-head{
    display: flex;
    padding-right: 15px;
} */
/* -------navigation--------------- */


.menu-nav-link{
    width: 294;
    height: 16px;
    padding-right: 50px;}
.menu-nav-site{
    margin-right: 331px;
    margin-left: 93px;
    display: flex;
  
}
.menu{display: flex;
      height: 80px;
    align-items: center;
  
}
.menu-line{ border-bottom: 1px solid #ECECEC;}
      .head-mail{margin-right: 50px;
    min-width: 135px;
;}
    .head-tel{
        min-width: 122px;
       
           }
    /*---------------------head-position-portfolio ------- */
.container-portfolio{
    
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: auto;
    flex-wrap: wrap;
    margin-bottom: 0px;
    justify-content: center;}

.container-portfolio:last-child{
    display: flex;
    justify-content:center;
   
    
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
      
     
       

}
.projekt-filtr{
    display: flex;
    margin-bottom: 50px;
    min-width: 611px;

       justify-content:space-around;
       height: 38px;
       flex-wrap: wrap;
    }
     .portfolio-projekt{
         display: flex;
         flex-wrap: wrap;
         align-content: center;
           flex-basis: calc(100% / 9 - 30px);
           margin-left: 30px;
           margin-bottom: 30px;      
         
                min-height: 404px;
             }
             /* .portfolio-projekt:nth-child(n+4){
                  margin-top: 30px;

             } */
             /* .portfolio-projekt:not(3n+1){
                 margin-left: 0;
             } */
        .portfolio-text{display: flex;
            flex-direction: column;
        
        }
        .portfolio-projekt-element{
           display: flex; 
           min-height: 404px;
           width: 370px;
           border-bottom: 1px solid var(--color-border);
           border-top: 1px solid var(--color-border);
           border-right: 1px solid var(--color-border);
           border-left: 1px solid  var(--color-border);
        flex-direction: column;}
        .id-sort{
            margin-top: 4px;}
        
        .name-sort{
          
        }
        .portfolio-text{display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 24px;
            padding-left: 24px;}

        /* -------Foot_---portfolio______---- */
        .footer-portfolio{
         padding-top: 60px;
            padding-bottom: 60px;
        }
        .logo-foot{
            min-width: 145px;
            display: flex;
    margin-bottom: 20px;}
    .adres{
        margin-bottom: 9px;
    }
  .contact-foot{display: flex;
      min-width: 231px;}
      /* ---------inex-position-----zakaz-uslug--- */
      .container-head-index{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
         
        
      }
      .index-head{
          display: flex;
           width: 696px;
          margin-top: 200px;
          margin-right: auto;
         margin-left: auto;
         margin-bottom: 40px;
      }
      .buton-order{
          display: flex;
          width: 200px;
          margin-top: 0;
         margin-left: auto;
         margin-right: auto;
         border: 0px;
         border-radius: 4px;
         margin-bottom: 200px;
         padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 32px;
         padding-right: 32px;
      }
/* -----position-index-quality----------- */
.quality-block{
    display: flex;
    flex-direction: column;
    width: 270px;
  
    /* margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0px;
    border-bottom: 0;
    padding: 10px 10px 10px 10px; */
}
.quality-block:nth-last-of-type(n+2){
    display: flex;
    margin-right: 30px;

}
.quality{
    display:flex;
    padding-top: 94px;
    padding-bottom: 47px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.index-quality{
    width: 270px;
}
.index-quality-specific{
   margin-top: 10px;
     width: 270px;
}
.container-quality{display: flex;}
    

/* -------index-position-attribut--- */
.container-attribut{
    padding-top: 47px;
    padding-bottom: 94px;
  
}
.img-attribut-quality{display: block;
}
.img-attribut-quality:nth-last-of-type(n+2){
    margin-right: 30px;}
.img-block{
    display: flex;
   margin-top: 50px;
}
.profesional-block{display: flex;
    justify-content:center;
    margin-top: 50px;
   
}
.profesional-block-info{
    flex-direction: column;  

}
.profesional-block-info:nth-last-of-type(n+2){
   margin-right: 30px;}
.name {
    display: flex;
    justify-content:center;
     
margin-bottom: 10px;

}
.name-profession{
    display: flex;
    justify-content:center;
padding: auto;}
.container-profesional{
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}
.name-profesion-bloc{
    display:block;
    padding-top: 30px;
    padding-bottom: 30px;

}
/* 
.big-container{
    display: block;
    padding-right: 200px;
    padding-left: 200px;
    
    width: 1600px;
} */