
/* -------index-position-attribut--- */
.container-attribut{
    padding-top: 47px;
    padding-bottom: 94px;
  
}
.img-attribut-quality{display: block;
    position: relative;
    z-index: 1;
    &:nth-last-of-type(n+2){
    margin-right: 30px;}
}
.image-attribut-text{
    width: 370px;
    height: 70px;
    position: absolute;
    font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
color: var(--white-color);
z-index: 2;
padding-top: 27px;
padding-bottom: 27px;
background: rgba(47, 48, 58, 0.8);
top: 224px;


}

.img-block{
    display: flex;
   margin-top: 50px;
}
/* ------------idex-img-make */
.img-attribut{
    font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1,16;
text-align: center;
letter-spacing: 0.03em;
}/* ------------idex-img-make */

