.container__head-nav{
  display: flex;
  justify-content: center;
   @media screen and (min-width: 320px) and (max-width: 767px){
display: none;
  }
}

.menu__button{position: absolute;
  right: 25px;
    background-color: transparent;
    border: none;
  @media screen and (min-width: 768px){display: none;}
  }  

    .menu{position: relative;
      display: flex;
      width: inherit;
  height: inherit;
  @media screen and (max-width: 768px){
    padding-top: 16px;
  }
  
  @media screen and (min-width: 768px){
    padding-top: 30px;
  }

   @media screen and (max-width: 1199px){
 
 justify-content: space-evenly;
   }
  @media screen and (min-width: 1200px){
    align-items: flex-start;
  }
  }
  .head{
   
  justify-content: space-between; 
  align-items: center;
    height: 60px;
     border-bottom: 1px solid #ECECEC;
     @media screen and (min-width: 768px) and (max-width: 1199px){
 width: 100vw;
     }
     @media screen and (min-width: 768px){
       height: 80px;
     }
  }
.menu-nav__site{display: flex;

   @media screen and (min-width: 1200px){
    margin-right: 305px;
    margin-left: 93px;}
    
  
}
.head-mail{
  display: block;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-color);
transition: color;
 transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus{
    color: var(--background-buton-color);}

     &:focus .head-mail__icon,
     &:hover .head-mail__icon{
         fill:var(--background-buton-color)
     }
   @media screen and (min-width: 1200px){
     
        display: flex;
        justify-content: center;
        margin-right: 50px;
        width: 161px;
      

   }
}
.head-tel{
  display: block;
 &:focus .head-tel__icon,
     &:hover .head-tel__icon{
         fill:var(--background-buton-color)
     } 

        width: 142px;
        font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-color);
transition: color;
 transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus{
    color: var(--background-buton-color);}
   @media screen and (min-width: 1200px){
display: flex;
     
   }
}
// .header__contact{}

.menu-nav__link{
    width: 294;
    height: 16px;
    padding-right: 50px;

  &:last-child{
        padding-right: 0;
    }
    }
    .menu-nav{
      @media screen and (max-width: 1200px){
      margin-right: 80px;}
    }
    .header__contact{
      @media screen and (min-width: 1200px){
      display:flex;
  }
}
.link--site-curent{font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--brand-color);
transition: color;
 transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, 
&:focus{
    color: var(--background-buton-color);
}
&::after{
  
    content: '';
   display: block;
  margin-top: 28px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-buton-color);
}
}

  .head-mail__icon {
       fill: var(--grey-color);
        margin-right: 10px;
      transition: fill;
 transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
   .head-tel__icon {
       fill: var(--grey-color);
        margin-right: 10px;
        transition: fill;
        transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }
   .link{font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--brand-color);
transition: color;
 transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, 
&:focus{
    color:var(--background-buton-color);
}
}
