.profesional-block{display: flex;
    justify-content:center;
    margin-top: 50px;
   
}
.profesional-block-info{
    flex-direction: column; 
    background-color: var(--white-color);


box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px; 
&:nth-last-of-type(n+2){
   margin-right: 30px;}

}

.name {
    display: flex;
    justify-content:center;
     
margin-bottom: 10px;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;


}
.name-profession{
    display: flex;
    justify-content:center;
padding: auto;
   font-family: Roboto;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--grey-color);

}
.container-profesional{
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--color-baton);
    
}
.name-profesion-bloc{
    display:block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 32px;padding-left: 32px;

}
/* -----------------icons--------------------------------------------
---------------------------------------------------- */

.name-profesional-link{
    display: flex;
   
    justify-content: center;
    margin-top: 16px;
    
  
}

.personal-link-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 12px;
    fill: var(--color-icon);
         transition: fill;
 transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}    
.personal-contact{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-content: center;   
    margin-right: 10px;
    border-radius: 50%;
  &:last-child{
       margin-right: 0;
   }   
}
 
.personal-link{display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
      transition: background-color, border-radius;
 transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
     &:focus, &:hover{
    background-color: var(--background-buton-color);
    border-radius: inherit;
    
}
&:focus .personal-link-icon,
&:hover .personal-link-icon{
     fill: var(--white-color);
 }

}
   