.contact-form{
    display: block;
    width: 448px;
    padding-top: 40px;
    margin: 0 auto;
    font-family: Roboto;
     @media screen and (max-width: 1199px){
        padding-left: 40px;
        padding-right: 40px;
    }


}
.contact-form-label{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
color: var(--grey-color);
letter-spacing: 0.01em;
outline: none;


}
 
.contact-form-input{
    height: 40px;
    width: 100%;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
        transition: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus{
    border: 1px solid #2196F3;
}
&:focus + .contact-form-icon{
    fill: var(--background-buton-color);
}

}

.contact-form-input-position{
    position: relative;
    display: flex;
}

.contact-form-icon{ 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  

}  

.name-form{
    margin-bottom: 30px;
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
}
.contact-form-koment:focus{
    border: 1px solid #2196F3;
}

.contact-form-koment{
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    transition: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding: 12px 16px;
}
/* .contact-form-input-checkbox{
    visibility: hidden;
} */
.form-checkbox-grup{
    position: relative;
    display: block;
    margin-top: 20px;
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--grey-color);
align-items: center;
justify-content: center;
@media screen and (max-width: 1199px){
    font-size: 12px;
}
}

/* .contact-form-label-chechbox::before{
    position: absolute;
    z-index: 3;
    content: '';
    display: block;
    width: 106px;
    height: 105px;
    background-image: url("./images/icons.svg#icon-email-black");

} */

/* .form-checkbox-svg:focus-visible{ 
    border: 2px solid var(--brand-color);
 }
.form-checkbox-svg{
    position: absolute;
    left: 0%;
    background-color: var(--white-color);
    fill: var(--white-color);
    border-radius: 3px;
    border: 2px solid var(--brand-color);
    }
    .contact-form-label-chechbox:focus .form-checkbox-svg{
    fill: var(--white-color);
    background-color: var(--background-buton-color);
    border-color: var(--background-buton-color);
}

.form-checkbox-grup>.contact-form-input-checkbox:checked ~ .form-checkbox-svg{
    fill: var(--white-color);
    background-color: var(--background-buton-color);
    border-color: var(--background-buton-color);
} */
.contact-form-label-chechbox{
    cursor: pointer;
    padding-left: 7px;
    
    &::before {
  display:flex;
  content: '';
  width: 16px;
  height: 15px;
  position: absolute;
  top: 3px;
  left: -1px;
 
  transition: background-image;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  border: 2px solid var(--brand-color);
  border-radius: 2px;
  cursor: pointer;
   background-color: var(--white-color);
  z-index: 3;
   }
}

   .contact-form-input-checkbox{
       z-index: 1;
       width: 12px;
  height: 11px;
       border: none;
       &:focus{
   outline: none;
}
&:focus +.contact-form-label-chechbox::before{
    outline:  2px solid var(--brand-color);
}


&:checked +.contact-form-label-chechbox::before{
    
     background-image: url("../images/vectorok.svg"),
   linear-gradient(to bottom, rgba(33, 150, 243, 1), rgba(33, 150, 243, 1));
  border: none;
  z-index: 5;
   }

       /* visibility: hidden; */
   }



   
.contact-form-button{
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--background-buton-color);
    transition: color, background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.contact-form-button-block{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: inherit;
    margin-top: 30px;
}
.form-link{
    text-decoration: underline;
    color: var(--background-buton-color);
}