/*------------сброс маржинов и падингов--- */
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul {margin: 0;
padding: 0;}


.body-style{
    font-family: 'Roboto','Raleway', sans-serif;
    font-weight: 400;
    color:var(--brand-color);
}


a{text-decoration: none;}
/* ссылки без подчёркивания */

li{list-style: none;}
/* скритие точек */
/* спрятать заголовок */
.portfolio-none{
    display: none;
}

/* ----container ----------------*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
@media screen and (min-width: 320px) and (max-width: 1199px){
     width: 100vw;}
    }